<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
</style>

<main class="main">
  <section>
    <h1>Ma Todo List !</h1>
    <div class="container-todo">
      <p><mat-checkbox formControlName="useAngularComponents">Utiliser les composants par défaut proposés par Material Angular</mat-checkbox></p>
      <p><mat-checkbox formControlName="createOwnComponents">Créer ses propres composants afin de les intégrer à n'importe quelle page</mat-checkbox></p>
      <p><mat-checkbox formControlName="createOwnRoutes">Créer ses propres routes pour naviguer d'une page à une autre</mat-checkbox></p>
    </div>
  </section>
  <section>
    <h1>Plus de cards à découvrir...</h1>
    <div class="container container-card">
      <mat-card class="my-card" appearance="outlined">
        <mat-card-header>
          <img mat-card-image src="/pizzaorientale12cm.png" alt="Image par défaut de recette" height="150px">
        </mat-card-header>
        <mat-card-content>Pizza orientale 12cm</mat-card-content>
        <mat-card-actions>
          <button mat-button>Voir plus en détail</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="my-card" appearance="outlined">
        <mat-card-header>
          <img mat-card-image src="https://bubblebar.mc/wp-content/uploads/2022/05/Frites.jpeg" alt="Image de frites maison" height="150px">
        </mat-card-header>
        <mat-card-content>Frites maison</mat-card-content>
        <mat-card-actions>
          <button mat-button>Voir plus en détail</button>
        </mat-card-actions>
      </mat-card>  
    </div>
  </section>
  <section>
    <h1>N'hésite pas à me contacter !</h1>
    <div class="container container-contact">
      <a href="https://drucilla-deroche.vercel.app" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Site personnel de Drucilla Deroche" fontIcon="open_in_new"></mat-icon>
      </a>
      <a href="mailto:drucilladeroche@proton.me">
        <mat-icon aria-hidden="false" aria-label="Email pro de Drucilla Deroche" fontIcon="email"></mat-icon>
      </a>
    </div>
  </section>
</main>
<router-outlet />