<main class="home">
  <section>
    <h1>Ma Todo List !</h1>
    <div class="container-todo">
      <p><mat-checkbox formControlName="useAngularComponents">Utiliser les composants par défaut proposés par Material Angular</mat-checkbox></p>
      <p><mat-checkbox formControlName="createOwnComponents">Créer ses propres composants afin de les intégrer à n'importe quelle page</mat-checkbox></p>
      <p><mat-checkbox formControlName="createOwnRoutes">Créer ses propres routes pour naviguer d'une page à une autre</mat-checkbox></p>
    </div>
  </section>
</main> 